/* DUL CUSTOM STYLES FOR DSPACE MIRAGE2 THEME */

@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

/* -------------------------------------------------------------- */
/* BOOTSWATCH OVERRIDES: DUL CUSTOMIZATIONS ON TOP OF COSMO THEME */
/* -------------------------------------------------------------- */

// Navbar =====================================================================

.navbar {

  &-inverse {

    .badge {
      background-color: #fff;
      color: $brand-primary;
    }
  }
}

// Buttons ====================================================================

// Typography =================================================================

body {
  -webkit-font-smoothing: antialiased;
}

.text-primary,
.text-primary:hover {
  color: $brand-primary;
}

.text-success,
.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover {
  color: $brand-info;
}

// Tables =====================================================================

table,
.table {

  a:not(.btn) {
    text-decoration: underline;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    a {
      color: #fff;
    }
  }
}

// Forms ======================================================================


.has-warning {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid $brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: $brand-success;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid $brand-success;
  }
}

// Navs =======================================================================

.nav-pills {

  & > li > a {
    border-radius: 0;
  }
}

.dropdown-menu {

  & > li > a:hover,
  & > li > a:focus {
    background-image: none;
  }
}

// Indicators =================================================================

.close {
  text-decoration: none;
  text-shadow: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.alert {
  border: none;

  .alert-link {
    text-decoration: underline;
    color: #fff;
  }
}

.label {
  border-radius: 0;
}

// Progress bars ==============================================================

.progress {
  height: 8px;
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Containers =================================================================

.panel {
  &-heading,
  &-footer {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &-default {
    .close {
      color: $text-color;
    }
  }
}

a.list-group-item {

  &-success {
    &.active {
      background-color: $state-success-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-success-bg, 5%);
    }
  }

  &-warning {
    &.active {
      background-color: $state-warning-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-warning-bg, 5%);
    }
  }

  &-danger {
    &.active {
      background-color: $state-danger-bg;
    }
    &.active:hover,
    &.active:focus {
      background-color: darken($state-danger-bg, 5%);
    }
  }
}

.modal {
  .close {
    color: $text-color;
  }
}

.popover {
  color: $text-color;
}


/* -------------------------------------------------------------- */
/* DSPACE OVERRIDES: DUL CUSTOMIZATIONS ON TOP OF MIRAGE2 DEFAULT */
/* -------------------------------------------------------------- */

/* ------------------- */
/*  MASTHEAD & NAV     */
/* ------------------- */

header {
  background-color: #053482;
}

.dul-masthead-bar {
  background-color: #053482;
}

#dul-masthead-dul-megamenu .dul-masthead-megamenu_container ul .dul-masthead-mega_toplevel a {
  font-weight: 400 !important;
}

.trail-wrapper {
    background-color: #eee;
    border-bottom: none;
    .breadcrumb{
      padding-left: 0;
    }
}

.breadcrumb>li+li:before {
    content: "/\00a0";
}

.navbar-toggle .icon-bar {
  background-color: #333;
}


.navbar-nav > li > a {
  @media screen and (min-width: 992px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navbar-toggle {
  margin-top: 3px;
  margin-bottom: 3px
}

#main-container {
  margin-bottom: 30px;
  overflow: auto; /* DSpace style oddly has this set to hidden, which breaks named anchor links */
}

/* DSpace default style has these values set oddly to 99999px & -99979px, causing */
/* problems with named anchor links. Setting to 0 as a fix; be on alert as to whether */
/* this will break something else */

.main-content {
  @media (min-width: 992px) {
    padding-bottom: 20px !important;
    margin-bottom: 0px !important;
  }
}


/* ------------------- */
/*      SIDEBAR        */
/* ------------------- */


#ds-options .ds-option-set-head {
    color: #777;
    font-weight: bold;
}

#ds-options {
  h1,h2,h3,h4,h5,h6 {
    font-size: 17px;
    font-weight: 400;
  }
}

#sidebar .list-group-item.active {
  margin-top: 20px;
}

#sidebar #aspect_viewArtifacts_Navigation_list_administrative {
  & a[href$="/statistics"] {
    /* Hide deprecated/defunct Statistics link */
    display: none;
  }
}


/* ------------------- */
/*   ITEM VIEW         */
/* ------------------- */

#aspect_artifactbrowser_ItemViewer_div_item-view .item-summary-view-metadata h2 {
  margin-bottom: 20px;
}

.embargo-warning {
  text-align: center;
  border-bottom: 2px dotted #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;

  & .fa-lock:before {
      font-size: 24px;
      color: #cc3300;
  }
}

.thumbnail > img, .thumbnail > a > img {
  margin: 0 auto;
  max-height: 250px;
  border-width: 0px;
}

.row.ds-artifact-item .thumbnail > a > img, li.ds-artifact-item .thumbnail > a > img {
  max-height: 150px; /* smaller thumb in result & list view */
}

#file-download-section {
  & .tooltip-inner {
      min-width: 225px;
  }
}

a.file-with-icon {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 26px;
  padding-left: 28px;
  display:block;
  font-weight: bold;
  text-decoration: none !important;


  /* Icon selection rules mostly follow DDR. See: https://github.com/duke-libraries/ddr-public/blob/c35097872498eeb406c28ba78afbef79fc591401/app/models/thumbnail/default.rb#L44 */


  &[data-mimetype^="application/"] {
    background-image:url("../images/dul-icons/txt.png");
  }
  &[data-mimetype^="text/"] {
    background-image:url("../images/dul-icons/binary.png");
  }
  &[data-mimetype^="image"] {
    background-image:url("../images/dul-icons/image.png");
  }
  &[data-mimetype^="video"] {
    background-image:url("../images/dul-icons/video.png");
  }
  &[data-mimetype^="audio"] {
    background-image:url("../images/dul-icons/audio.png");
  }
  &[data-mimetype*="zip"] {
    background-image:url("../images/dul-icons/zip.png");
  }
  &[data-mimetype="application/rtf"] {
    background-image:url("../images/dul-icons/rtf.png");
  }
  &[data-mimetype="application/postscript"] {
    background-image:url("../images/dul-icons/postscript.png");
  }
  &[data-mimetype="application/vnd.google-earth.kmz"] {
    background-image:url("../images/dul-icons/kml.png");
  }
  &[data-mimetype="application/vnd.google-earth.kml+xml"] {
    background-image:url("../images/dul-icons/kml-xml.png");
  }
  &[data-mimetype="application/x-sas"] {
    background-image:url("../images/dul-icons/x-sas.png");
  }
  &[data-mimetype*="excel"] {
    background-image:url("../images/dul-icons/xls.png");
  }
  &[data-mimetype*="spreadsheetml"] {
    background-image:url("../images/dul-icons/xls.png");
  }
  &[data-mimetype*="powerpoint"] {
    background-image:url("../images/dul-icons/ppt.png");
  }
  &[data-mimetype*="presentationml"] {
    background-image:url("../images/dul-icons/ppt.png");
  }
  &[data-mimetype="application/msword"] {
    background-image:url("../images/dul-icons/doc.png");
  }
  &[data-mimetype*="wordprocessingml"] {
    background-image:url("../images/dul-icons/doc.png");
  }
  &[data-mimetype="application/pdf"] {
    background-image:url("../images/dul-icons/pdf.png");
  }
  &[data-mimetype="application/x-pdf"] {
    background-image:url("../images/dul-icons/pdf.png");
  }
  &[data-mimetype="message/rfc822"] {
    background-image:url("../images/dul-icons/email.png");
  }
  &[data-mimetype="text/html"] {
    background-image:url("../images/dul-icons/html.png");
  }
  &[data-mimetype^="text/comma-separated-values"] {
    background-image:url("../images/dul-icons/csv.png");
  }
  &[data-mimetype^="text/csv"] {
    background-image:url("../images/dul-icons/csv.png");
  }

  &:hover {
    background-color: #fafafa;
  }

  & i.fa-lock {
    margin-right: 0.3em;
  }

  & span.file-size {
    font-size: 90%;
    color: #999;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
  }

}

a.stats-section-wrapper {
  background: #fafafa;
  display: block;
  float: left;
  width: 100%;
  color: #333;
  margin-bottom: 25px;
}

.stats-wrapper {
  text-align: center;
  line-height: 20px;
  padding: 10px;
  & .stats-count {
    font-size: 23px;
  }
  & .stats-type {
    font-size: 13px;
  }
}

.stats-section-2 {
  border-left: dotted 2px #eee;
}

.cc-license-section {
  border-top: 1px dashed #eee;
  margin-top: 25px;
  padding-top: 25px;
}

.scholars-icon-link {
  margin-left: 0.4em;
  text-decoration: none !important;
  display: inline-block;
  font-size: inherit;
  background-image: url('../images/icons/scholars-at-duke-icon.png');
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  position: relative;
  top: 4px;
}

.orcid-badge-link {
  margin-left: 0.3em;
  display: inline-block;
  font-size: inherit;
  background-image: url('../images/icons/orcid_16x16.png');
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  position: relative;
  top: 4px;
}


/* ------------------------- */
/*      COLLECTION VIEW      */
/* ------------------------- */

#aspect_artifactbrowser_CollectionViewer_div_collection-view p.ds-paragraph a {
  &:before {
    content: "\f0fe";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.5em;
  }
}


/* ------------------- */
/*   SEARCH RESULTS   */
/* ------------------- */

li.ds-artifact-item {
  margin-bottom: 20px;
}

.ds-artifact-list .artifact-title {
  font-weight: 400;
}

/* ------------------- */
/*       FORMS         */
/* ------------------- */

/* Correct paths on DSpace lock images */

input.ds-authority-lock
  { vertical-align: bottom; height: 24px; width:
    24px; background-repeat: no-repeat; background-color: transparent; }
input.ds-authority-lock.is-locked
  { background-image: url('../images/authority_control/lock24.png'); }
input.ds-authority-lock.is-unlocked
  { background-image: url('../images/authority_control/unlock24.png'); }


tr#aspect_administrative_item_EditItemMetadataForm_row_dc_contributor_author,
tr#aspect_administrative_item_EditItemMetadataForm_row_dc_contributor_advisor
  {
    & input.ds-authority-value {
      &[readonly] {
        background-color: #eeeeee;
      }
    }
    /* Don't display the a Lookup button for author authority because we are not using */
    /* a real Duke authority lookup. Unique IDs will presumably be either added by hand in */
    /* metadata; or passed in via batch metadata edits, batch ingests, or Elements deposits */
    & input[value="Lookup"] {
      display: none;
    }
  }

/* Hide the authority lookup button on item submission forms. Using a blank authority will */
/* not return values in a lookup. */
input[name="lookup_dc_contributor_author"][value="Lookup"],
input[name="lookup_dc_contributor_advisor"][value="Lookup"]
  {
    display: none;
  }

/* Force display of Add button for authority-controlled fields. DSpace hides the button via */
/* inline CSS when the (authority-controlled) field is configured with presentation-style "lookup" */
button[name="submit_dc_contributor_author_add"],
button[name="submit_dc_contributor_advisor_add"]
  {
    display: block !important;
  }
